@model PizzaBox.Domain.Models.Order

<h3>Alright @Model.user.FirstName, would you like to add another pizza?</h3>

<ul>
    <h3><a href="../Menu/OrderMenu">Yes</a></h3>
    <h3><a href="../Menu/DisplayOrder">No</a></h3>
</ul>

<br>
<br>
<h4><a href="../Pizza">Home</a></h4>
