@model PizzaBox.Domain.Models.Location


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create | Ingredient</title>
</head>
<body>
  <header>
      <h1>Ingredient</h1>
  </header>
  <h3>Which would you like to add?</h3>
  <br>
  <ul>
    <h3><a href="../Menu/CreateSize">Size</a></h3>
    <h3><a href="../Menu/CreateCrust">Crust</a></h3>
    <h3><a href="../Menu/CreateTopping">Topping</a></h3>
  </ul>

  <ul>
      <br>
      <br>
      <br>
      <h4><a href="../Pizza">Home</a></h4>
      <h4><a href="../Pizza/ManagerLogin">Manager Login</a></h4>

  </ul>
</body>
</html>