@model PizzaBox.Domain.Models.Topping


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create | Topping</title>
</head>
<body>
  <header>
      <h1>Topping</h1>
  </header>
  <h3>Fill out this form to continue:</h3>
      <form action="/Menu/CreateTopping" method ="post">

        <label for="Name">Name:</label>
        <input type="text" id = "Name" name="Name">
        @Html.ValidationMessageFor(m =>m.Name)
        <br>

        <button type="submit">Create</button>
      </form>
  <ul>
      <br>
      <br>
      <br>
      <h4><a href="../Pizza">Home</a></h4>
      <h4><a href="../Pizza/ManagerLogin">Manager Login</a></h4>

  </ul>
</body>
</html>