


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to PizzaBox!</title>
</head>
<body>
  <header>
      <h1>Welcome!</h1>
  </header>

    <img src="https://i.warosu.org/data/ck/img/0100/69/1517374729107.jpg" height = "300">
    <br><br>

  <h3>Choose one of the following options to continue:</h3>
  <ul>
      <h4><a href="../Menu/Login">Login</a></h4>
      <h4><a href="../Pizza/ManagerLogin">Manager Login</a></h4>
      <h4><a href="../Pizza/Register">Register</a></h4>
      <h4><a href="../Pizza/ViewMenu">View Menu</a></h4>
      <h4><a href = "../Pizza/ViewLocations">View All Locations</a></h4>
  </ul>
  
</body>
</html>