@{
    ViewData["Title"] = "PizzaBox | Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PizzaBox!</h1>
    <p>To view more information on our company <a href="https://localhost:5001/Pizza">Click Here</a>.</p>
</div>
